/*import*/
.main-carrito .contenedor-principal, .container .contenedor-principal, .section-productos .contenedor-prod, .section-cards .div-card-index .card {
  margin: 10px;
  border: #3F3F3F;
  border-radius: 15px;
  box-shadow: 5px 5px 10px #3F3F3F;
}

* {
  margin: 0;
  padding: 0;
}

.titulo {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 40px;
}

header .header-logo {
  width: 100px;
  height: auto;
  display: flex;
}
header .ul-menu .list {
  border-radius: 10px;
  margin: 20px;
}
header .ul-menu .li-hover:hover {
  transform: scale(1.1);
  background-color: #416A96;
}
header .ul-menu .li-trans {
  transition-property: all;
  transition-duration: 2s;
}
header .ul-menu a:hover {
  color: white;
}

footer {
  background-color: #191919;
  color: white;
}
footer .footer {
  text-align: center;
}
footer .footer .div-footer {
  text-align: center;
}
footer .footer .div-footer div .titulo-footer {
  color: gray;
}
footer .footer .div-footer div .margin-footer {
  margin: 20px;
  color: white;
  font-weight: 400;
}
footer .footer .div-footer div .margin-footer .text-footer {
  text-decoration: none;
  color: white;
}

* {
  margin: 0;
  padding: 0;
}

.titulo {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 40px;
}

.main-carrito .contenedor-principal, .container .contenedor-principal, .section-productos .contenedor-prod, .section-cards .div-card-index .card {
  margin: 10px;
  border: #3F3F3F;
  border-radius: 15px;
  box-shadow: 5px 5px 10px #3F3F3F;
}

.section-banner .div-banner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: auto;
}
.section-banner .div-banner .banner {
  display: grid;
  width: 100%;
}
.section-banner .div-banner .banner .banner-primera {
  width: 100%;
  height: auto;
}
.section-banner .div-banner .banner .banner-segunda {
  width: 100%;
  height: auto;
}
.section-banner .div-banner .banner .banner-tercera {
  width: 100%;
  height: auto;
}

.section-cards .div-card-index .card {
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  width: 300px;
  height: 400px;
}
.section-cards .div-card-index .card .titulo-card {
  margin: 10px;
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  color: #416A96;
}
.section-cards .div-card-index .card .img-card {
  width: 150px;
  height: auto;
  margin: 10px;
  padding: 10px;
}
.section-cards .div-card-index .card .p-card {
  margin: 10px;
  font-family: sans-serif;
  font-size: 15px;
  text-align: center;
  font-weight: 400;
  color: gray;
}

.titulo {
  margin: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 40px;
  text-align: center;
}

@media only screen and (max-width: 1015px) {
  .section-nosotros .div-nosotros .maps .maps {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .section-nosotros .div-nosotros .maps .maps-basile {
    margin: 10px;
    width: 100%;
    margin-bottom: 30px;
  }
}

.main-carrito .contenedor-principal, .container .contenedor-principal, .section-productos .contenedor-prod, .section-cards .div-card-index .card {
  margin: 10px;
  border: #3F3F3F;
  border-radius: 15px;
  box-shadow: 5px 5px 10px #3F3F3F;
}

.section-productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 65%;
  margin: 20px auto;
  padding: 10px;
  gap: 30px;
}
@media only screen and (max-width: 600px) {
  .section-productos {
    width: 80%;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .section-productos {
    width: 90%;
  }
}
.section-productos .titulo-productos {
  grid-column: 1/4;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: white;
  background-color: #5A7866;
  margin: 30px;
  border-radius: 5px;
}
.section-productos .contenedor-prod {
  display: grid;
  justify-items: center;
}
@media only screen and (max-width: 600px) {
  .section-productos .contenedor-prod {
    grid-column: 1/4;
  }
}
.section-productos .contenedor-prod:hover {
  transform: scale(1.1);
  background-color: #416A96;
  transition-property: all;
  transition-duration: 2s;
  color: white;
}
.section-productos .contenedor-prod .img-prod {
  width: 95%;
  height: auto;
  object-fit: cover;
  margin: 10px;
  padding: 10px;
  border-radius: 30px;
}
.section-productos .contenedor-prod .p-titulo-prod {
  font-family: sans-serif;
  font-size: 20px;
  margin: 10px;
}
.section-productos .contenedor-prod .precio-carrito {
  display: flex;
}
.section-productos .contenedor-prod .precio-carrito .carrito {
  color: #191919;
  margin-bottom: 5px;
}
.section-productos .contenedor-prod .precio-carrito .carrito:hover {
  transform: scale(1.1);
  transition-property: all;
  transition-duration: 2s;
  color: white;
}
.section-productos .contenedor-prod .p-desc-prod {
  font-family: sans-serif;
  font-size: 15px;
  color: gray;
}
.section-productos .contenedor-prod .p-desc-prod:hover {
  transform: scale(1.1);
  background-color: #416A96;
  transition-property: all;
  transition-duration: 2s;
  color: white;
}

.main-carrito .contenedor-principal, .container .contenedor-principal, .section-cards .div-card-index .card, .section-productos .contenedor-prod {
  margin: 10px;
  border: #3F3F3F;
  border-radius: 15px;
  box-shadow: 5px 5px 10px #3F3F3F;
}

.container .contenedor-principal .texto-formulario {
  color: #3F3F3F;
  text-align: center;
  font-weight: 200;
}
.container .contenedor-principal .boton-enviar {
  margin-top: 10px;
  text-align: right;
}
.container .contenedor-principal div .icono-redes {
  color: #416A96;
}
.container .contenedor-principal div .icono-redes:hover {
  transform: scale(1.1);
  transition-property: all;
  transition-duration: 1s;
}

* {
  margin: 0;
  padding: 0;
}

.titulo {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 40px;
}

.main-carrito .contenedor-principal, .section-cards .div-card-index .card, .section-productos .contenedor-prod, .container .contenedor-principal {
  margin: 10px;
  border: #3F3F3F;
  border-radius: 15px;
  box-shadow: 5px 5px 10px #3F3F3F;
}

.main-carrito .contenedor-principal .calcular {
  border-bottom: solid 1px gray;
}
.main-carrito .contenedor-principal .total {
  padding-bottom: 20px;
}
.main-carrito .contenedor-principal .precio {
  padding-bottom: 20px;
}
@media only screen and (max-width: 2000px) {
  .main-carrito .espacio-en-blanco {
    visibility: hidden;
  }
}

/*# sourceMappingURL=style.css.map */
