@import '../base/listas';
@import '../base/estilosGenerales';
@import '../base/extend';

.section-carrito {
    .div-carrito {
        @extend %contenedor-principal;
        .precio{
            border-top: solid 1px black;
           }
        
           .continuar{
            display: flex;
            justify-content: end;
           }
    }

}