@import '../base/listas';
@import '../base/estilosGenerales';
@import '../base/extend';

.section-carrito {
    .contenedor-principal {
        @extend %contenedor-principal;

    }
   
    .precio-final{

        display: flex;
        justify-content:right;
        padding: 15px;
    }

    .precio{
        margin-right: 10px;
    }

}