@import '../base/listas';

header {
    .div-bar{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        background-color: black;
        color: white;
        .texto-bar{
            align-items: center;
            font-weight: 100;
            font-size: 15px;
            margin-top: 6px;
        }
      }
    .contenedor-nav {
        .header-logo {
            width: 100px;
            height: auto;
            display: flex;
        }

        .lista-nav {
            .ul-menu {
                .list {
                    border-radius: 10px;
                    margin: 20px;
                }

                .li-hover:hover {
                    transform: scale(1.1);
                    background-color: nth($colores, 2);

                }

                .li-trans {
                    transition-property: all;
                    transition-duration: 2s;
                }

                a:hover {
                    color: white;
                }
            }

        }

        .usuario-y-carrito{
            .usuario-nav{
                color: nth($colores,1);
                margin: 5px;
            }
        }
        .carrito-nav{
            color: nth($colores,1);
            margin: 20px;
        }
    }
}