@import '../base/listas';

header {
    .header-logo {
        width: 100px;
        height: auto;
        display: flex;
    }

    .ul-menu {
        .list {
            border-radius: 10px;
            margin: 20px;
        }

        .li-hover:hover {
            transform: scale(1.1);
            background-color: nth($colores,2);
            
        }

        .li-trans {
            transition-property: all;
            transition-duration: 2s;
        }

        a:hover {
            color: white;
        }
    }
}