@import '../base/listas';
@import '../base/estilosGenerales';
@import '../base/extend';


.section-banner {
    .div-banner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        height: auto;

        .banner {
            display: grid;
            width: 100%;

            .banner-primera {
                width: 100%;
                height: auto;
            }

            .banner-segunda {
                width: 100%;
                height: auto;
            }

            .banner-tercera {
                width: 100%;
                height: auto;
            }
        }
    }
}

.section-cards {
    .div-card-index {
        .card {
            justify-content: center;
            align-content: center;
            justify-items: center;
            align-items: center;
            width: 300px;
            height: 400px;
            @extend %contenedor-principal;


            .titulo-card {
                margin: 10px;
                font-family: sans-serif;
                font-size: 20px;
                text-align: center;
                font-weight: 600;
                color: nth($colores, 2);
            }

            .img-card {
                width: 150px;
                height: auto;
                margin: 10px;
                padding: 10px;
            }

            .p-card {
                margin: 10px;
                font-family: sans-serif;
                font-size: 15px;
                text-align: center;
                font-weight: 400;
                color: nth($colores, 5);
            }
        }


    }
}
