@import '../base/listas';

.div-productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 65%;
    margin: 20px auto;
    padding: 10px;
    gap: 30px;

    @media only screen and (max-width:600px) {
        width: 80%;
    }

    @media screen and (min-width:601px) and (max-width:900px) {
        width: 90%;
    }


    .contenedor-prod {
        border-radius: 20px;
        box-shadow: 5px 5px 10px gray;
        position: relative;
        display: grid;
        justify-items: center;

        @media only screen and (max-width:600px) {
            grid-column: 1 / 4;
        }

        &:hover {
            transform: scale(1.1);
            background-color: nth($colores,2);
            transition-property: all;
            transition-duration: 2s;
            color: white;
        }

        .img-prod {
            width: 95%;
            height: auto;
            object-fit: cover;
            margin: 10px;
            padding: 10px;
            border-radius: 30px;
        }

        .p-titulo-prod {
            font-family: sans-serif;
            font-size: 20px;
            margin: 10px;
        }

        .precio-carrito {
            display: flex;

            .carrito {
                color: nth($colores,4);
                margin-bottom: 5px;

                &:hover {
                    transform: scale(1.1);
                    transition-property: all;
                    transition-duration: 2s;
                    color: nth($colores,6);
                }
            }
        }

        .p-desc-prod {
            font-family: sans-serif;
            font-size: 15px;
            color: nth($colores,5);

            &:hover {
                transform: scale(1.1);
                background-color: nth($colores,2);
                transition-property: all;
                transition-duration: 2s;
                color: white;
            }
        }



    }

}