*{
   margin: 0; 
   padding: 0;
}


.titulo{
   font-family: 'Poppins', sans-serif;
   font-weight: 600;
   font-size: 40px;
}

.contenedor-principal{
   margin: 10px;
   border: #3F3F3F;
   border-radius: 15px;
   box-shadow: 5px 5px 10px gray;
}